PORT=8080
NODE_ENV=development
MONGO_URI=mongodb://127.0.0.1:27017/bhiv_core
JWT_SECRET=replace_with_a_long_random_secret
JWT_EXPIRES_IN=8h
AUTH_COOKIE_NAME=bhiv_token
COOKIE_DOMAIN=
COOKIE_SECURE=false
COOKIE_SAME_SITE=lax
AUTH_SERVER_URL=https://pravesh.blackholeinfiverse.com
CORS_ORIGINS=https://pravesh.blackholeinfiverse.com,http://163.128.209.18:5180,http://163.128.209.18:8087,https://namankan.blackholeinfiverse.com,http://163.128.209.18:5181,http://localhost:5173,https://products.blackholeinfiverse.com,https://*.blackholeinfiverse.com
